@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');
body{
    font-family: 'Covered By Your Grace', cursive;
    font-size: x-large;
    text-align: center;
    background-color: #00152a;
    color: white;

}
p{
    font-size: 30px;
    margin: 30px;
    padding: 50px;
}
.border{
    border: 20px solid rgb(81, 229, 255);
    height: 100%;
}


input[type=text]{
    width: 200px;
    display: block;
    margin: auto;


}
input[type=email]{
    width: 200px;
    display: block;
    margin: auto;

}
input[type=submit]{
    background-color: rgb(218, 164, 18);
    padding: 35px;
    border-radius: 25px;
    margin: 20px;

}
